<?xml version="1.0"?>
<launch>

  <!-- Arguments -->
  <arg name="use_rqt_steering" default="true" />
  
  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find gpg_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="gpg_controller_spawner" pkg="controller_manager" type="spawner"
        args="gpg_joint_publisher gpg_camera_controller gpg_velocity_controller"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Velocity goals: GUI plugin or gpg_planning -->
	<group if="$(arg use_rqt_steering)">
	  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
		<param name="default_topic" value="/gpg_velocity_controller/cmd_vel"/>
	</node>
	</group>

	<group unless="$(arg use_rqt_steering)">
		<node pkg="gpg_planning" type="gpg_goal_publisher" name="gpg_goal_publisher" output="screen" />
	</group>
	
  <!-- Load PID gains >
  <rosparam command="load" file="$(find gpg_control)/config/gazebo_ros_control_params.yaml" /-->

</launch>
