<launch>

  <!-- Configurations (can also be set as argument) -->
  <arg name="rvizconfig"  default="$(find gpg_description)/rviz/urdf_manual.rviz" />
  
  <!-- Run xacro script to generate and upload GoPiGo description -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find gpg_description)/urdf/manual/gpg_viz.urdf'"/> -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find gpg_description)/urdf/manual/gpg.urdf.xacro'"/>
  
  <!-- Open joint_state_publisher with GUI for debugging -->
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  
  <!-- Publish robot state (joints) as TF -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
  <!-- Open Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  
</launch>
