<?xml version="1.0"?>
<robot name="gpg3_sim" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:arg name="laser" default="false"/>
  <xacro:arg name="d435"  default="false"/>
  <xacro:arg name="imu"   default="false"/>
  <xacro:arg name="imu_visual" default="true"/>
  <xacro:arg name="laser_visual" default="true"/> <!-- rays visible in gazebo -->

  <!-- Base_link -->
  <gazebo reference="base_link_cad">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Left wheel mechanical properties -->
  <gazebo reference="wheel_left_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- This block connects the wheel joint to an actuator (motor), which informs both simulation and visualization of the robot -->
  <transmission name="wheel_left_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_left_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_left_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- Right wheel mechanical properties -->
  <gazebo reference="wheel_right_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <transmission name="wheel_right_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="wheel_right_motor">
	  <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="wheel_right_joint">
	  <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- Caster mechanical properties -->
  <gazebo reference="caster_back_link">
    <mu1>0.001</mu1>
    <mu2>0.001</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>10.0</maxVel>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Rotating camera mechanical properties -->
  <gazebo reference="camera_link">
    <mu1>0.001</mu1>
    <mu2>0.001</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>10.0</maxVel>
    <material>Gazebo/Yellow</material>
  </gazebo>

  <transmission name="camera_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <actuator name="camera_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
    <joint name="camera_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
  </transmission>

  <!-- IMU sensor -->
  <xacro:if value="$(arg imu)">
		<gazebo reference="imu_link">
		  <sensor type="imu" name="imu">
		    <always_on>true</always_on>
		    <visualize>$(arg imu_visual)</visualize>
		  </sensor>
		  <material>Gazebo/Green</material>
		</gazebo>
		<!-- IMU plugin -->
		<gazebo>
		  <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
		    <alwaysOn>true</alwaysOn>
		    <bodyName>imu_link</bodyName>
		    <frameName>imu_link</frameName>
		    <topicName>imu</topicName>
		    <serviceName>imu_service</serviceName>
		    <gaussianNoise>0.0</gaussianNoise>
		    <updateRate>200</updateRate>
		    <imu>
		      <noise>
		        <type>gaussian</type>
		        <rate>
		          <mean>0.0</mean>
		          <stddev>2e-4</stddev>
		          <bias_mean>0.0000075</bias_mean>
		          <bias_stddev>0.0000008</bias_stddev>
		        </rate>
		        <accel>
		          <mean>0.0</mean>
		          <stddev>1.7e-2</stddev>
		          <bias_mean>0.1</bias_mean>
		          <bias_stddev>0.001</bias_stddev>
		        </accel>
		      </noise>
		    </imu>
		  </plugin>
		</gazebo>
  </xacro:if>

  <!-- Laser Distance Sensor YDLIDAR X4 controller-->
  <xacro:if value="$(arg laser)">
	  <gazebo reference="base_scan">
			<material>Gazebo/FlatBlack</material>
			<sensor type="ray" name="lds_lfcd_sensor">
				<pose>0 0 0 0 0 0</pose>
				<visualize>$(arg laser_visual)</visualize>
				<update_rate>40</update_rate>
				<ray>
				  <scan>
				    <horizontal>
				      <!--samples>360</samples>
				      <resolution>1</resolution-->
				      <samples>500</samples>
				      <resolution>0.72</resolution>
				      <min_angle>-3.1416</min_angle>
				      <max_angle>3.1416</max_angle>
				    </horizontal>
				  </scan>
				  <range>
				    <min>0.2</min>
				    <max>10</max>
				    <resolution>0.015</resolution>
				  </range>
				  <noise>
				    <type>gaussian</type>
				    <!-- Noise parameters based on published spec for YDLIDAR X4
				         is 1.5% at half range 4m (= 60mm, "+-160mm" accuracy at max. range 8m).
				         A mean of 0.0m and stddev of 0.020m will put 99.7% of samples
				         within 0.16m of the true reading. -->
				    <mean>0.0</mean>
				    <stddev>0.01</stddev>
				  </noise>
				</ray>
				<plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
				  <topicName>scan</topicName>
				  <frameName>base_scan</frameName>
				</plugin>
			</sensor>
	  </gazebo>
  </xacro:if>
  
	<!-- Ground truth plugin -->
	<gazebo>
		<plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_p3d">
			<robotNamespace>/</robotNamespace>
		 	<bodyName>base_link</bodyName>
			<topicName>ground_truth</topicName>
			<frameName>world</frameName>
			<xyzOffsets>0 0 0</xyzOffsets>
			<rpyOffsets>0 0 0</rpyOffsets>
			<gaussianNoise>0</gaussianNoise>
			<alwaysOn>true</alwaysOn>
		  <updateRate>100</updateRate>
		</plugin>
	</gazebo>

  <!-- Gazebo plugin for ROS Control -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
